@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --background-color: #181818;
  --primary-text-color: #dedede;
  --secondary-text-color: #6a6a6a;
  --tertiary-text-color: #2f2f2f;
  --accent-color: #FFFFFF;
  font-family: "Lato";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  color: var(--primary-text-color);
}

body {
  background-color: var(--background-color);
  margin: 5rem 10rem;
  box-sizing: border-box;
  font-size: 1.5rem;
}

h1 {
  font-size: 7rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

h2 {
  font-size: 5rem;
  font-weight: 600;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 2rem;

}

p {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

a {
  text-decoration: underline;
  color: var(--primary-text-color);
}

ul, ol {
  margin-bottom: 2rem;
  font-size: 2rem;
  padding-left: 3rem;
}

li {
}

iframe {
  border: none;
  align-self: center;
  margin-bottom: 2rem;
}

img {
  margin-bottom: 2rem;
  align-self: center;
  width: 45vw;
}

.secondary {
  color: var(--secondary-text-color);
}

.caption {
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  align-self: center;
}

/* Nav */

nav {
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: flex-end;
}

nav a {
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
  text-decoration: none;
}

#logo {
  margin-right: auto;
}

#logo img {
  width: 15rem;
}

/* Hero */

#hero {
  display: flex;
  flex-direction: column;
  height: 70vh;
  align-items: left;
  justify-content: center;
}

#hero h1 {
  font-size: 10rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

/* Work */

#work {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#work a {
  font-size: 3rem;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-top: 30rem;
}

footer #logo img {
  width: 40rem;
}

footer #contact-info {
  display: flex;
  flex-direction: column;
}

footer a {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

/* Blog */

.blog {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

/* Slideshow */

.slideshow-container {
  position: relative;
  align-self: center;
  overflow: hidden;
}

.slides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: var(--background-color);
  font-weight: bold;
  font-size: 5rem;
  line-height: 0rem;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: var(--background-color);
}

/* Images */
.image-duo {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.image-duo img {
  width: 25vw;
  height: 50vh;
  object-fit: cover;
}

code {
  text-align: left;
  font-family: "Roboto Mono";
  background-color: var(--tertiary-text-color);
  border-radius: 5px;
  padding: 0px 5px 3px 5px;
  margin-bottom: 2rem;
}

code div {
  padding: 1rem;
  background-color: var(--tertiary-text-color);
  font-size: 1.2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  }

th, td {
  border: 1px solid var(--primary-text-color);
  padding: 5px 8px;
  text-align: left;
}